[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/ashrafalaghbari/GA-TCN-LSTM/blob/main/Data_pre-processing/data_cleaning.ipynb)

In [7]:
%autosave 60

Autosaving every 60 seconds

In [8]:
import numpy as np
import pandas as pd

In [9]:
%cd "D:\UKM\Research project\oil production forecasting\github\GA-TCN-LSTM\Datasets\"

D:\UKM\Research project\oil production forecasting\github\GA-TCN-LSTM\Datasets

In [40]:
df = pd.read_csv("F_14.csv",  parse_dates=["DATEPRD"], index_col="DATEPRD")

In [33]:
#before manual cleaning
df.describe()

,ON_STREAM_HRS,AVG_DOWNHOLE_PRESSURE,AVG_DOWNHOLE_TEMPERATURE,AVG_DP_TUBING,AVG_ANNULUS_PRESS,AVG_CHOKE_SIZE_P,AVG_WHP_P,AVG_WHT_P,DP_CHOKE_SIZE,BORE_OIL_VOL,BORE_GAS_VOL,BORE_WAT_VOL,F_4_ON_STREAM_HRS,F_4_BORE_WI_VOL,F_5_ON_STREAM_HRS,F_5_BORE_WI_VOL
count,1828.000000,1828.000000,1828.000000,1828.000000,1764.000000,1802.000000,1828.000000,1828.000000,1828.000000,1828.000000,1.828000e+03,1828.000000,1908.000000,1862.000000,1908.000000,1855.000000
mean,21.841193,3583.535031,214.625146,3019.578691,150.044131,75.926647,572.536377,183.015493,152.270115,7261.418839,6.145965e+06,18826.746730,20.318801,31966.662247,20.354637,32030.073489
std,6.049317,373.637560,16.012126,354.479368,149.043042,27.848957,219.312316,29.148980,239.001866,5028.465623,4.125306e+06,6465.248079,7.832144,13563.536469,7.831526,13098.199268
min,0.000000,0.000000,32.000000,39.914966,0.000000,0.000000,4.962176,33.784862,0.914898,0.000000,0.000000e+00,-372.293889,0.000000,0.000000,0.000000,0.000000
25%,24.000000,3507.717504,212.045240,2869.027307,0.000000,58.209641,466.837358,186.971179,42.193006,2982.109277,2.482519e+06,16688.534322,23.660412,27193.841709,23.976393,27747.420619
50%,24.000000,3573.179417,214.761736,2985.324683,166.504338,87.925927,502.575163,189.891963,76.842538,6274.400564,5.642409e+06,20839.337582,24.000000,34665.079944,24.000000,34828.075900
75%,24.000000,3730.074164,219.996743,3208.012793,312.228731,100.000000,608.024884,192.529627,164.022008,11186.679745,9.664422e+06,22753.562815,24.000000,40332.545356,24.000000,39781.794083
max,25.000000,4395.827404,224.190920,4381.731622,386.993210,100.000000,1823.393702,200.317251,1823.393702,20005.937677,1.602415e+07,35800.155279,25.000000,56823.379072,25.000000,60050.679482

In [29]:
#using the manual cleaning
df.describe()

,ON_STREAM_HRS,AVG_DOWNHOLE_PRESSURE,AVG_DOWNHOLE_TEMPERATURE,AVG_CHOKE_SIZE_P,AVG_WHP_P,AVG_WHT_P,DP_CHOKE_SIZE,BORE_OIL_VOL,BORE_GAS_VOL,BORE_WAT_VOL,F_4_ON_STREAM_HRS,F_4_BORE_WI_VOL,F_5_ON_STREAM_HRS,F_5_BORE_WI_VOL
count,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000,1.908000e+03,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000
mean,21.295611,3627.710589,216.141502,72.870872,582.319649,180.515746,166.091386,7103.075974,6.012061e+06,18386.503917,20.311398,31175.323050,20.347544,31137.728200
std,6.648573,236.516379,4.492842,30.439203,238.859080,32.646779,261.231101,5026.233475,4.129356e+06,6846.678954,7.845155,14285.017941,7.842231,13952.691853
min,0.000000,3123.138842,206.006702,0.000000,4.962176,33.784862,0.914898,0.000000,0.000000e+00,-372.293889,0.000000,0.000000,0.000000,0.000000
25%,24.000000,3511.569507,212.063312,52.215851,466.912430,186.348954,42.537255,2835.069230,2.346537e+06,16165.898234,23.660412,26415.671540,23.976393,27004.364879
50%,24.000000,3582.065632,214.783077,77.767445,509.101117,189.659553,81.646765,6121.652514,5.466016e+06,20633.220488,24.000000,34422.404739,24.000000,34581.231094
75%,24.000000,3755.620243,219.953629,100.000000,625.720138,192.434239,178.776372,10939.254320,9.490638e+06,22678.226609,24.000000,40226.847030,24.000000,39611.658856
max,24.000000,4395.827404,224.190920,100.000000,1823.393702,200.317251,1823.393702,20005.937677,1.602415e+07,35800.155279,24.000000,56823.379072,24.000000,60050.679482

In [38]:
# cleaning with functions
df.describe()

,ON_STREAM_HRS,AVG_DOWNHOLE_PRESSURE,AVG_DOWNHOLE_TEMPERATURE,AVG_DP_TUBING,AVG_ANNULUS_PRESS,AVG_CHOKE_SIZE_P,AVG_WHP_P,AVG_WHT_P,DP_CHOKE_SIZE,BORE_OIL_VOL,BORE_GAS_VOL,BORE_WAT_VOL,F_4_ON_STREAM_HRS,F_4_BORE_WI_VOL,F_5_ON_STREAM_HRS,F_5_BORE_WI_VOL
count,1908.000000,1828.000000,1828.000000,1828.000000,1764.000000,1802.000000,1828.000000,1828.000000,1828.000000,1828.000000,1.828000e+03,1828.000000,1908.000000,1862.000000,1908.000000,1855.000000
mean,21.297302,3583.535031,214.625146,3019.578691,150.044131,75.926647,572.536377,183.015493,152.270115,7261.418839,6.145965e+06,18827.154054,20.311398,31966.662247,20.347544,32030.073489
std,6.643493,373.637560,16.012126,354.479368,149.043042,27.848957,219.312316,29.148980,239.001866,5028.465623,4.125306e+06,6464.061185,7.845155,13563.536469,7.842231,13098.199268
min,0.000000,0.000000,32.000000,39.914966,0.000000,0.000000,4.962176,33.784862,0.914898,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,24.000000,3507.717504,212.045240,2869.027307,0.000000,58.209641,466.837358,186.971179,42.193006,2982.109277,2.482519e+06,16688.534322,23.660412,27193.841709,23.976393,27747.420619
50%,24.000000,3573.179417,214.761736,2985.324683,166.504338,87.925927,502.575163,189.891963,76.842538,6274.400564,5.642409e+06,20839.337582,24.000000,34665.079944,24.000000,34828.075900
75%,24.000000,3730.074164,219.996743,3208.012793,312.228731,100.000000,608.024884,192.529627,164.022008,11186.679745,9.664422e+06,22753.562815,24.000000,40332.545356,24.000000,39781.794083
max,24.000000,4395.827404,224.190920,4381.731622,386.993210,100.000000,1823.393702,200.317251,1823.393702,20005.937677,1.602415e+07,35800.155279,24.000000,56823.379072,24.000000,60050.679482

In [41]:
def clean_time(df, ON_STREAM_HRS, *rate_vars):
    # Cap the maximum value of ON_STREAM_HRS to 24
    df[ON_STREAM_HRS] = np.where(df[ON_STREAM_HRS] > 24, 24, df[ON_STREAM_HRS])
    
    # Set ON_STREAM_HRS to 0 if any of the rate variables are 0
    mask = False
    for rate in rate_vars:
        mask |= df[rate] == 0
    df[ON_STREAM_HRS] = np.where(mask, 0, df[ON_STREAM_HRS])
    df[ON_STREAM_HRS].interpolate(inplace = True, limit_direction ='forward')
    

    return np.abs(df)

In [42]:
df = clean_time(df, 'ON_STREAM_HRS',"BORE_GAS_VOL", "BORE_OIL_VOL")
df = clean_time(df, "F_4_ON_STREAM_HRS", "F_4_BORE_WI_VOL")
df = clean_time(df, "F_5_ON_STREAM_HRS", "F_5_BORE_WI_VOL")

In [43]:
# remove average annulur pressure and pressure drop across the wellbore
df = df.drop(["AVG_ANNULUS_PRESS", "AVG_DP_TUBING"], axis=1)

In [13]:
# the values for all variables are corrupted in the period of "2012-09-02" & "2012-09-28"

# average reservoir presure in this period is corrupted
df.loc["2012-09-02":"2012-09-03",'AVG_DOWNHOLE_PRESSURE'] = np.nan
# # average reservori pressure is decreaseing and decreasing; therefore, is imputated with linear interpolation 
df.loc["2012-09-01":"2012-09-27",'AVG_DOWNHOLE_PRESSURE'].interpolate(inplace = True, limit_direction ='forward')
# # average reservoir temperature in this period is corrupted
df.loc["2012-09-02":"2012-09-03",'AVG_DOWNHOLE_TEMPERATURE'] = np.nan
# # average reservori pressure is decreaseing and decreasing; therefore, is imputated with linear interpolation 
df.loc["2012-09-01":"2012-09-27",'AVG_DOWNHOLE_TEMPERATURE'].interpolate(inplace = True,limit_direction ='forward')
# The average choke size should be set to zero when the well is not in production
df.loc[df['ON_STREAM_HRS'] == 0, 'AVG_CHOKE_SIZE_P'] = 0
df["2012-09-01":"2012-09-27"] = df["2012-09-01":"2012-09-27"].interpolate(limit_direction ='forward')
# use ffill to fill forward missing values
df.loc["2012-09-27":"2012-09-29"] = df.loc["2012-09-27":"2012-09-29"].fillna(method='ffill')

# the on stream injection volumne for F-5 on this day is zero, which means the injection rate should be zero too
df.loc["2012-09-28"]['F_5_BORE_WI_VOL'] = 0

mask = ((df["BORE_GAS_VOL"] == 0) | (df["BORE_WAT_VOL"] == 0) | (df["BORE_OIL_VOL"] == 0))
df["ON_STREAM_HRS"] = np.where(mask, 0, df["ON_STREAM_HRS"])

C:\Users\ash\AppData\Local\Temp\ipykernel_4312\3145956819.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc["2012-09-28"]['F_5_BORE_WI_VOL'] = 0

In [15]:
# replace the negative value in the water volume column with  positive one
df.loc["2012-08-13"].BORE_WAT_VOL = df.loc["2012-08-13"].BORE_WAT_VOL *-1

C:\Users\ash\AppData\Local\Temp\ipykernel_4312\4093737411.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc["2012-08-13"].BORE_WAT_VOL = df.loc["2012-08-13"].BORE_WAT_VOL *-1

In [16]:
#  replace the corrupted values with NaN then impute the downhole pressure with linear interpolation and temperature with 
df.loc["2010-02-10":"2010-02-27","AVG_DOWNHOLE_PRESSURE"] =  df.loc["2010-02-10":"2010-02-27","AVG_DOWNHOLE_PRESSURE"].apply(lambda x: np.nan if x < 3300 else x)
df.loc["2010-02-09":"2010-02-27","AVG_DOWNHOLE_PRESSURE"] = df.loc["2010-02-09":"2010-02-27","AVG_DOWNHOLE_PRESSURE"].interpolate(
    method ='linear', limit_direction ='forward')
# downhole temperature
df.loc["2010-02-10":"2010-02-27","AVG_DOWNHOLE_TEMPERATURE"] = df["2010-02-10":"2010-02-27"]["AVG_DOWNHOLE_TEMPERATURE"].apply(lambda x:np.nan if x < 220  else x) 
df.loc["2010-02-10":"2010-02-27","AVG_DOWNHOLE_TEMPERATURE"] = df["2010-02-10":"2010-02-27"]["AVG_DOWNHOLE_TEMPERATURE"].apply(
    lambda x:np.nan if x < 220  else x).replace(
        np.nan,df.loc["2010-02-10":"2010-02-27","AVG_DOWNHOLE_TEMPERATURE"].mean() )

In [17]:
#  replace the corrupted values with NaN then impute the downhole pressure with linear interpolation and temperature with 
df.loc["2013-09-26":"2013-09-30","AVG_DOWNHOLE_PRESSURE"] =  df.loc["2013-09-26":"2013-09-30","AVG_DOWNHOLE_PRESSURE"].apply(lambda x: np.nan if x < 3000 else x)
df.loc["2013-09-26":"2013-09-30","AVG_DOWNHOLE_PRESSURE"] = df.loc["2013-09-26":"2013-09-30","AVG_DOWNHOLE_PRESSURE"].interpolate(
    method ='linear', limit_direction ='forward')
# downhole temperature
df.loc["2013-09-26":"2013-09-30","AVG_DOWNHOLE_TEMPERATURE"] = df["2013-09-26":"2013-09-30"]["AVG_DOWNHOLE_TEMPERATURE"].apply(lambda x:np.nan if x < 200  else x) 
df.loc["2013-09-26":"2013-09-30","AVG_DOWNHOLE_TEMPERATURE"] = df["2013-09-26":"2013-09-30"]["AVG_DOWNHOLE_TEMPERATURE"].apply(
    lambda x:np.nan if x < 200  else x).replace(
        np.nan,df.loc["2013-09-26":"2013-09-30","AVG_DOWNHOLE_TEMPERATURE"].mean() )

In [18]:
# fix downhole pressure/ temperature and pressure drop along the tubing
df.loc["2013-05-14":"2013-05-16","AVG_DOWNHOLE_PRESSURE"] =  df.loc["2013-05-14":"2013-05-16","AVG_DOWNHOLE_PRESSURE"].apply(lambda x: np.nan if x < 2000 else x)
df.loc["2013-05-14":"2013-05-16","AVG_DOWNHOLE_PRESSURE"] = df.loc["2013-05-14":"2013-05-16","AVG_DOWNHOLE_PRESSURE"].interpolate(
    method ='linear', limit_direction ='forward')
 # downhole temperature
df.loc["2013-05-14":"2013-05-16","AVG_DOWNHOLE_TEMPERATURE"] = df["2013-05-14":"2013-05-16"]["AVG_DOWNHOLE_TEMPERATURE"].apply(lambda x:np.nan if x < 200  else x) 
df.loc["2013-05-14":"2013-05-16","AVG_DOWNHOLE_TEMPERATURE"] = df["2013-05-14":"2013-05-16"]["AVG_DOWNHOLE_TEMPERATURE"].apply(
    lambda x:np.nan if x < 200  else x).replace(
        np.nan,df.loc["2013-05-14":"2013-05-16","AVG_DOWNHOLE_TEMPERATURE"].mean() )

In [19]:
df.loc["2010-01-19":"2010-01-21","AVG_DOWNHOLE_TEMPERATURE"] = df["2010-01-19":"2010-01-21"].AVG_DOWNHOLE_TEMPERATURE.apply(
    lambda x:np.nan if x < 200 else x).interpolate( method ='linear', limit_direction ='forward')
df.loc["2010-01-19":"2010-01-21","AVG_DOWNHOLE_PRESSURE"] = df["2010-01-19":"2010-01-21"].AVG_DOWNHOLE_PRESSURE.apply(
lambda x:np.nan if x < 3000 else x).interpolate( method ='linear', limit_direction ='forward')

In [20]:
df.loc["2013-07-07":"2013-07-09","AVG_DOWNHOLE_TEMPERATURE"] = df["2013-07-07":"2013-07-09"].AVG_DOWNHOLE_TEMPERATURE.apply(
    lambda x:np.nan if x < 200 else x).interpolate( method ='linear', limit_direction ='forward')
df.loc["2013-07-07":"2013-07-09","AVG_DOWNHOLE_PRESSURE"] = df["2013-07-07":"2013-07-09"].AVG_DOWNHOLE_PRESSURE.apply(
lambda x:np.nan if x < 3100 else x).interpolate( method ='linear', limit_direction ='forward')

In [21]:


df.loc["2014-06-25":"2014-06-28","AVG_DOWNHOLE_TEMPERATURE"] = df["2014-06-25":"2014-06-28"].AVG_DOWNHOLE_TEMPERATURE.apply(
    lambda x:np.nan if x < 200 else x).interpolate( method ='linear', limit_direction ='forward')
df.loc["2014-06-25":"2014-06-28","AVG_DOWNHOLE_PRESSURE"] = df["2014-06-25":"2014-06-28"].AVG_DOWNHOLE_PRESSURE.apply(
lambda x:np.nan if x < 3000 else x).interpolate( method ='linear', limit_direction ='forward')

In [22]:
df.loc["2014-08-27":"2014-08-30","AVG_DOWNHOLE_TEMPERATURE"] = df["2014-08-27":"2014-08-30"].AVG_DOWNHOLE_TEMPERATURE.apply(
    lambda x:np.nan if x < 200 else x).interpolate( method ='linear', limit_direction ='forward')
df.loc["2014-08-27":"2014-08-30","AVG_DOWNHOLE_PRESSURE"] = df["2014-08-27":"2014-08-30"].AVG_DOWNHOLE_PRESSURE.apply(
lambda x:np.nan if x < 3000 else x).interpolate( method ='linear', limit_direction ='forward')

In [25]:
df.interpolate(inplace=True, method='linear')

In [28]:
df.to_csv("cleaned_F_14.csv")